:root {
    --editor-bg-color: #222222;
}

body {
    overflow: hidden;
}

/* #toolbar * {
    font-size: 11px;
} */

.square-circle-5 {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
}

.square-circle-5:before,
.square-circle-5:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #ffffff;
    animation: sc5 2.5s infinite;
}

.square-circle-5:after {
    animation-delay: -1.25s;
    border-radius: 0;
}

@keyframes sc5 {
    0% {
        inset: 0 35px 35px 0
    }

    12.5% {
        inset: 0 35px 0 0
    }

    25% {
        inset: 35px 35px 0 0
    }

    37.5% {
        inset: 35px 0 0 0
    }

    50% {
        inset: 35px 0 0 35px
    }

    62.5% {
        inset: 0 0 0 35px
    }

    75% {
        inset: 0 0 35px 35px
    }

    87.5% {
        inset: 0 0 35px 0
    }

    100% {
        inset: 0 35px 35px 0
    }
}

input[type="color"].custom-input-color::-moz-color-swatch {
  border: none;
}

input[type="color"].custom-input-color::-webkit-color-swatch-wrapper {
  border-radius: 0;
}

input[type="color"].custom-input-color::-webkit-color-swatch {
  border: none;
}

#toolbar {
    border-right: 1px solid #d0d0d0;
    height: calc(100vh - 55px);
    overflow-y: scroll;
    overflow-x: hidden;
}
#widget-container {
    height: calc(100vh - 55px);
    overflow-y: hidden;
    overflow-x: hidden;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #848484;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #686868;
}

#widget-container {
    background: var(--editor-bg-color);
}

.custom-input-text {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0px;
    color: #323A47;
    padding-bottom: 5px;
    border: none !important;
    border-bottom: 1px solid #c5c5c5 !important;
}

input[type="text"]:focus {
    outline: none !important;
}

input[type="number"]:focus {
    outline: none !important;
}

.custom-input-checkbox {
    
}

.custom-input-color {
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 100px;
    background: var(--editor-bg-color);
    border: 1px solid #ffffff;
}

/* .custom-input-color-2 {
    width: 25px !important;
    height: 25px !important;
    box-shadow: 1px 1px 1px #323A47 !important;
} */

.coloris {
    color: #000000 !important;
}

.circle .clr-field button {
    width: 22px;
    height: 22px;
    left: 5px;
    right: auto;
    border-radius: 5px;
}

.circle .clr-field input {
    padding-left: 36px;
}

.circle .clr-field button {
    border-radius: 50%;
}

yt-live-chat-app {
    width: auto !important;
}

#items.widget-wrapper {
    width: 50% !important;
    transform: scale(0.7) !important;
    transform-origin: top !important;
}